@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  background-color: #e4e9f7;
  transition: 200ms;

}

span.obligatorio {
  color: #bb2929;
}
/* Login */
.login-form {
  position: relative;
  min-height: 100vh;
  z-index: 0;
  background: #111A41;
  /* padding: 30px; */
  justify-content: center;
  /* display: grid; */
  font-family: "poppins", sans-serif;

  grid-template-rows: 1fr auto 1fr;
  align-items: center;
}
.container {
  /* max-width: 800px; */
  margin: 0 auto;
}

.login-form h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
  font-family: "poppins", sans-serif;
}
.login-form h2 {
  line-height: 40px;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 500;
  color: #272346;
  text-align: center;
}
.login-form .main {
  position: relative;
  display: flex;
  /* margin: 30px 0; */
  height: 100vh;
}
.content {
  flex-basis: 50%;
  padding: 3em 3em;
  background: #fff;
  box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: grid;
  align-content: center;
}
.form-img {
  flex-basis: 50%;
  background-image: url(../../../img/fondo-claro.jpg);
  background-attachment: fixed;
  /* background: #dfe5ea; */
  background-size: cover;
  padding: 40px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  display: grid;
}

.form-img-2 {
  flex-basis: 50%;
  background-image: url(../../../img/fondo-claro-2.jpg);
  background-attachment: fixed;
  /* background: #dfe5ea; */
  background-size: cover;
  padding: 40px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  display: grid;
}

.form-img img {
  max-width: 100%;
}
p {
  color: #666;
  font-size: 16px;
  line-height: 25px;
  opacity: 0.6;
  text-align: center;
}
.btn,
button,
input {
  border-radius: 35px;
}
.btn:hover,
button:hover {
  color: #272346;
  background: #e4e9f7;
  transition: 0.5s ease;
}
a {
  text-decoration: none;
}
.login-form form {
  margin: 30px 0;
}
.login-form input {
  outline: none;
  margin: 15px 0;
  font-stretch: 16px;
  color: #999;
  text-align: left;
  padding: 14px 20px;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  background: #e4e9f7;
  transition: 0.3s ease;
}
.login-form input:focus {
  background: transparent;
  border: 1px solid #111A41;
}

.login-form button {
  font-size: 18px;
  color: #fff;
  width: 100%;
  background: #111A41;
  border: none;
  padding: 14px 15px;
  font-weight: 600;
  transition: 0.3s ease;
  margin: 15px 0;
}
p.account a {
  color: #111A41;
}
p.account a:hover {
  text-decoration: underline;
}
@media (max-width: 736px) {
  .login-form .main {
    flex-direction: column;
  }
  .login-form form {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .form-img {
    border-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    order: 2;
  }
  .content {
    order: 1;
    border-radius: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}
/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 18rem;
  background: #111A41;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close {
  width: 78px;
}
.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i {
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links {
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}
.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover {
  background: #192DD4;
}
.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link {
  display: block;
}
.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow {
  display: none;
}
.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #192DD4;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}
.sidebar .nav-links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details {
  position: fixed;
  bottom: 0;
  width: 18rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details {
  background: none;
}
.sidebar.close .profile-details {
  width: 78px;
}
.sidebar .profile-details .profile-content {
  display: flex;
  align-items: center;
}
.sidebar .profile-details img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img {
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
  display: none;
}
.sidebar .profile-details .job {
  font-size: 12px;
}
.home-section {
  position: relative;
  background: #e4e9f7;
  height: 100vh;
  left: 18rem;
  width: calc(100% - 18rem);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content {
  height: 60px;
  /* display: flex; */
  /* align-items: center; */
}
.page-content {
  padding: 1rem;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: #111A41;
  font-size: 35px;
}
.home-section .home-content .bx-menu {
  margin: 15px;
  cursor: pointer;
}
.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
}
@media (max-width: 400px) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }
  .sidebar {
    width: 78px;
  }
  .sidebar.close {
    width: 0;
  }
  .home-section {
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }
  .sidebar.close ~ .home-section {
    width: 100%;
    left: 0;
  }
}

/* FORMULARIO */
.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.formulario__label {
  display: block;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}

.formulario__grupo-input {
  position: relative;
}

.formulario__input {
  width: 100%;
  background: #fff;
  border: 3px solid transparent;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: 0.3s ease all;
}

.formulario__input:focus {
  border: 3px solid #111A41;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}

.formulario__input-error-activo {
  display: block;
}

.formulario__validacion-estado {
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

.formulario__checkbox {
  margin-right: 10px;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
  grid-column: span 2;
}

.formulario__mensaje {
  height: 45px;
  line-height: 45px;
  background: #f66060;
  padding: 0 15px;
  border-radius: 3px;
  display: none;
}

.formulario__mensaje-activo {
  display: block;
}

.formulario__mensaje p {
  margin: 0;
}

.formulario__grupo-btn-enviar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario__btn {
  height: 45px;
  line-height: 45px;
  width: 30%;
  background: #000;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.1s ease all;
}

.formulario__btn:hover {
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.formulario__mensaje-exito {
  font-size: 14px;
  color: #119200;
  display: none;
}

.formulario__mensaje-exito-activo {
  display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
  color: #1ed12d;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
  color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
  color: #bb2929;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
  border: 3px solid #bb2929;
}

/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
  .formulario {
    grid-template-columns: 1fr;
  }

  .formulario__grupo-terminos,
  .formulario__mensaje,
  .formulario__grupo-btn-enviar {
    grid-column: 1;
  }

  .formulario__btn {
    width: 100%;
  }
}

/* Table */
.w3-table-all,
.w3-hoverable {
  -webkit-text-size-adjust: 100%;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  box-sizing: inherit;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;
}
.w3-table th:first-child,
.w3-table td:first-child,
.w3-table-all th:first-child,
.w3-table-all td:first-child {
  padding-left: 16px;
}
.w3-table td,
.w3-table th,
.w3-table-all td,
.w3-table-all th {
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
}
.w3-table-all tr:nth-child(odd) {
  background-color: #fff;
}
.w3-table-all {
  border: 1px solid #ccc;
}
.w3-table,
.w3-table-all {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
}
.w3-hoverable tbody tr:hover,
.w3-ul.w3-hoverable li:hover {
  background-color: #ccc;
}

/*Dialog Styles*/
dialog {
	margin: auto;
	padding: 3rem;
	background: white;
	/* max-width: 400px; */
	padding-top: 2rem;
	border-radius: 20px;
	border: 0;
	box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
	animation: fadeIn 1s ease both;
	&::backdrop {
		animation: fadeIn .5s ease both;
		background: rgb(255 255 255 / 40%);
		z-index: 2;
		backdrop-filter: blur(20px);
	}
	.x {
		filter: grayscale(1);
		border: none;
		background: none;
		position: absolute;
		top: 15px;
		right: 10px;
		transition: ease filter, transform 0.3s;
		cursor: pointer;
		transform-origin: center;
		&:hover {
			filter: grayscale(0);
			transform: scale(1.1);
		}
	}
	h2 {
		font-weight: 600;
		font-size: 2rem;
		padding-bottom: 1rem;
	}
	p {
		font-size: 1rem;
		line-height: 1.3rem;
		padding: 0.5rem 0;
		a {
			&:visited {
				color: rgb(#192DD4);
			}
		}
	}
}

button.primary {
	background-color: #192DD4;
	display: inline-block;
	font-size: 0.8rem;
	color: #fff !important;
	background: rgb(#192DD4 / 100%);
	padding: 13px 25px;
	border-radius: 17px;
	transition: background-color 0.1s ease;
	box-sizing: border-box;
	transition: all 0.25s ease;
	border: 0;
	cursor: pointer;
	box-shadow: 0 10px 20px -10px rgb(#192DD4 / 50%);
	&:hover {
		box-shadow: 0 20px 20px -10px rgb(#192DD4 / 50%);
		transform: translateY(-5px);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.modal {
  /* margin: 20px; */
}

.task-delete {
  width: 100px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #e62222;
}

.task-delete, .task-delete span {
  transition: 200ms;
 }
 
 .task-delete .texto {
  transform: translateX(15px);
  color: white;
  font-weight: bold;
 }
 
 .task-delete .icon {
  position: absolute;
  /* border-left: 1px solid #c41b1b; */
  transform: translateX(60px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 .task-delete svg {
  width: 15px;
  fill: #eee;
 }
 
 .task-delete:hover {
  background: #ff3636;
 }
 
 .task-delete:hover .texto {
  color: transparent;
 }
 
 .task-delete:hover .icon {
  width: 100px;
  border-left: none;
  transform: translateX(0);
 }
 
 .task-delete:focus {
  outline: none;
 }
 
 .task-delete:active .icon svg {
  transform: scale(0.8);
 }

 /*  */
 
.task-edit {
  width: 100px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #192DD4;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #192DD4;
  transition: 200ms;
}

.task-edit, .task-edit span {
  transition: 200ms;
 }
 
 .task-edit .texto {
  transform: translateX(15px);
  color: white;
  font-weight: bold;
  transition: 200ms;

 }
 
 .task-edit .icon {
  position: absolute;
  /* border-left: 1px solid #192DD4; */
  transform: translateX(60px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;

 }
 
 .task-edit svg {
  width: 15px;
  fill: #eee;
  transition: 200ms;

 }
 
 .task-edit:hover {
  background: #192DD4;
  transition: 200ms;

 }
 
 .task-edit:hover .texto {
  color: transparent;
  transition: 200ms;

 }
 
 .task-edit:hover .icon {
  width: 100px;
  border-left: none;
  transform: translateX(0);
  transition: 200ms ease;
 }
 
 .task-edit:focus {
  outline: none;
 }
 
 .task-edit:active .icon svg {
  transform: scale(0.8);
 }
